* {
    font-family: Arial, Calibri, "Times New Roman";
    font-size: 18px;
}

h1 {
    background-color:rgb(255, 167, 167);
    color:blue;
    text-align: center;
    font-size: 34px;
}

h2 {
    background-color:rgb(255, 246, 197);
    color:rgb(8, 8, 136);
    text-align: center;
    font-size: 26px;
}

img {
    height: auto;
    width: 400px;   /* Width is also defined in index.html file. In the future consider deleting it. */
}


ul li, ol li {
    background-color: lightcyan;
}

.recipe {
    background-color: rgb(255, 234, 234);
    color:black;
    font-weight: bold;
}